body {
    background-color: rgb(11, 173, 218);
}
.content{
    position:absolute;
    top:50%;
    left:50%;
    width :200px;
    height:200px;
    margin-left:-100px;
    margin-top:-100px;
}
.button {
    background-color: black;
    border: 2px solid rgb(18, 234, 21);
    border-radius: 8px;
    color: whitesmoke;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 40%;
    cursor: pointer;
}

.button:hover {
    background-color: azure;
    color: black;
}